@model Cerberus.Sos.Accounting.BusinessLogic.Entities.Contraparte

@{
    ViewBag.Title = "Ver Contraparte";
}

<h2>Contraparte</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Datos de la Contraparte
            </div>
            <div class="panel-body collapse in">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Codigo, "Codigo")
                        @Html.TextBoxFor(model => model.Codigo, null, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Codigo)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, "Nombre")
                        @Html.TextBoxFor(model => model.Nombre, null, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                   
                }
            </div>
        </div>
    </div>
</div>
<div class="form-links">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<div>
        <h4>Contraparte</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
