@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron banner-sos">
    <h1>SIA SOS</h1>
    <p class="lead">Sistema de Información y Administración SOS Bolivia</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Módulo Presupuestario</h2>
        <p class="text-justify">
            Facilita el proceso de planificación presupuestaria anual, con mecanismos de revisión y aprobación en diferentes niveles. Permite consultar, revisar y obtener información histórica de los presupuestos. Genera reportes comparativos que facilitaran el análisis para solicitud de Manutención mensual.
        </p>
        <p>
            @if (Context.User.IsInRole("PPTO-CLR"))
            {
                <a href="@Url.Action("Gestion", "Presupuestos")" class="btn btn-primary btn-action"><i class="fa fa-calendar-check-o fa-fw"></i> Ir al módulo</a>
            }
            else if (Context.User.IsInRole("CORD-PRG"))
            {
                <a href="@Url.Action("Ciudades", "Presupuestos", new { presupuestoId = ViewBag.PresupuestoActualId})" class="btn btn-primary btn-action"><i class="fa fa-calendar-check-o fa-fw"></i> Ir al módulo</a>
            }
            else if (Context.User.IsInRole("ADMN-PRG"))
            {
                <a href="@Url.Action("Facilities", "Recursos", new { ciudadId = Session["ciudadId"].ToString()})" class="btn btn-primary btn-action"><i class="fa fa-tasks fa-fw"></i> Ir al módulo</a>
            }
            else
            {
                <a href="@Url.Action("ReporteGeneral", "Presupuestos", new {ciudadId = Session["ciudadId"].ToString()})" class="btn btn-primary btn-action"><i class="fa fa-tasks fa-fw"></i> Ir al módulo</a>
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Módulo Contable</h2>
        <p class="text-justify">
            Permite registros contables en linea, genera registros automaticos de manutención y planillas de sueldos. Facilita el proceso de cierre mensual gracias a la automatización de las tareas y genera un reporte de cierre para comunicarse con el sistema Internacional (NAV). Genera reportes de Estados Financieros y libros complementarios en tiempo real, consolidados y por Unidad de Programa. Establece el archivo digital de documentos de respaldo, facilitando el proceso de Auditoria Interna y Externa. 
        </p>
        <p>
            @if (Context.User.IsInRole("CORD-PRG") || Context.User.IsInRole("CTBD-CLR"))
            {
                <a href="@Url.Action("Index", "CierresContables")" class="btn btn-primary btn-action"><i class="fa fa-calendar-check-o fa-fw"></i> Ir al módulo</a>
            }
            else
            {
                <a href="@Url.Action("Facilities", "Comprobantes", new { ciudadId = Session["ciudadId"].ToString()})" class="btn btn-primary btn-action"><i class="fa fa-edit fa-fw"></i> Ir al módulo</a>
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Módulo Planillas</h2>
        <p class="text-justify">
            Genera las planillas salariales mensuales, para el pago de sueldos. Registra y actualiza los datos de colaboradores y guarda un archivo histórico de movimientos de personal. Genera finiquitos, quinquenios, reportes mensuales para diferentes áreas y entes externos como son Cajas de salud, Afp y otros.
        </p>
        <p>
            @if (Context.User.IsInRole("PLNS-CLR"))
            {
                <a href="@Url.Action("Gestion", "Planillas")" class="btn btn-primary btn-action"><i class="fa fa-calendar-check-o fa-fw"></i> Ir al módulo</a>
            }
            else
            {
                <a href="#" class="btn btn-primary btn-action" onclick="alert('Usted no cuenta con el Rol necesario para Ingresar al Módulo.')"><i class="fa fa-calendar-check-o fa-fw"></i> Ir al módulo</a>
            }
        </p>
    </div>
</div>

@if (Context.User.IsInRole("CTBD-CLR"))
{
    <div id="tiposCambioModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tipo de cambio para hoy @DateTime.Now.ToString("dd'/'MM'/'yyyy")</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Moneda</th>
                                            <th>Valor</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.TiposCambio)
                                        {
                                            <tr id="tc-@item.Id">
                                                <td>
                                                    <div class="hidden Id">@item.Id</div>@item.TipoMoneda.Moneda
                                                </td>
                                                <td class="Valor text-right">@item.Valor</td>
                                                <td class="hidden ValorInput text-right"><input type="text" id="Valor" class="form-control text-right" /></td>
                                                <td>
                                                    <a class="EditarTipoCambio" href="#" onclick="enableRowDataModal($(this).parent().parent().attr('id'));">Modificar</a>
                                                    <button class="GuardarTipoCambio btn btn-primary hidden" onclick="editModalData($(this).parent().parent().attr('id'));">Guardar</button>
                                                    <button class="CancelarTipoCambio btn btn-warning hidden" onclick="cancelEditModalData($(this).parent().parent().attr('id'));">Cancelar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Components/tipo-cambio.component.js")"></script>
}