@model IEnumerable<Cerberus.Sos.Accounting.BusinessLogic.Entities.PeriodoPlanilla>
@{
    ViewBag.Title = "Gestión Planillas";
}
<h2 class="page-header">Periodos Planillas</h2>

@*<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#panel-busqueda" role="button" data-toggle="collapse">Búsqueda <span class="fa fa-chevron" aria-hidden="true"></span></a>
    </div>
    <div id="panel-busqueda" class="panel-body collapse in">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Beneficiario">Gestion</label>
                        @Html.TextBox("Beneficiario", 2018, new { @class = "form-control text-right", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Numero">Mes</label>
                        @Html.TextBox("Beneficiario", 7, new { @class = "form-control text-right", @readonly = "readonly" })
                    </div>
                </div>
            </div>
                <button type="submit" class="btn btn-default" onclick="alert('No puede generar una Planilla si existen Pendientes de Cierre.'); return false;">Generar Planilla</button>
        }
    </div>
</div>*@

@if (true)
{
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Planillas gestión @ViewBag.GestionActual
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="recursos" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Gestion</th>
                                    <th>Mes</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Gestion</td>
                                        <td>@item.Mes</td>
                                        <td>@item.EstadoPlanilla.Nombre</td>
                                        <td>
                                            @if (@item.EstadoPlanillaId == 1)
                                            {
                                                <a href="@Url.Action("Index", "Planillas", new { gestion = item.Gestion, mes = item.Mes })" class="btn btn-primary btn-action">Detalle de Planilla</a>
                                                <a href="@Url.Action("CerrarPeriodo", "Planillas", new { gestion = item.Gestion, mes = item.Mes })" class="btn btn-warning btn-action" onclick="return confirm('Esta seguro de cerrar el periodo actual?');">Cerrar Periodo</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Retroactivos gestión @ViewBag.GestionActual
            </div>
            <div class="panel-body">
                <div class="form-actions">
                    <a href="#addRetroactivoModal" role="button" data-toggle="modal" class="btn btn-success btn-action">Generar Retroactivo</a>
                </div>
                <div class="table-responsive">
                    <table id="recursos" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Gestion</th>
                                <th>Mes del Retroactivo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Retroactivos)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Gestion</td>
                                    <td>@item.Mes</td>
                                    <td>@item.EstadoPlanilla.Nombre</td>
                                    <td>
                                        @if (@item.EstadoPlanillaId == 1)
                                        {
                                            <a href="@Url.Action("Retroactivos", "Planillas", new {id = item.Id})" class="btn btn-primary btn-action">Detalle de Planillas</a>
                                            <a href="@Url.Action("CerrarRetroactivo", "Planillas", new {id = item.Id})" class="btn btn-warning btn-action" onclick="return confirm('Esta seguro de cerrar las planillas de Retroactivo?');">Cerrar Retroactivo</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addRetroactivoModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Generar Retroactivo</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("GenerarRetroactivo", "Planillas", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Mes">Mes del Retroactivo</label>
                                        <select id="Mes" name="Mes" class="form-control">
                                            <option value="">-- Seleccionar --</option>
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Gestion">Gestión</label>
                                        @Html.TextBox("Gestion", 2018, new { @class = "form-control", @maxlength = "200", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Incremento">Incremento Salarial (%)</label>
                                        @Html.TextBox("Incremento", null, new { @class = "form-control text-right", @maxlength = "200", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="MinSalario">Salario Mínimo Nacional (Bs.)</label>
                                        @Html.TextBox("MinSalario", 2060, new { @class = "form-control", @maxlength = "200", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="help-block">Al guardar los datos se generarán las planillas para el Retroactivo.</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        }
                        <br />
                        @*<h3>Escala Salarial</h3>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Seleccionar</th>
                                            <th>Cuenta</th>
                                            <th>Glosa</th>
                                            <th>Debe</th>
                                            <th>Haber</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.TransfManutencion)
                                        {
                                            <tr id="transf-@item.Id">
                                                <td class="text-center"><input class="TransferenciaRow" type="checkbox"></td>
                                                <td>@item.CuentaContable.NombreDespliegue</td>
                                                <td>@item.Glosa</td>
                                                <td class="TrDebe text-right">
                                                    @if (item.Debe > 0)
                                                    {
                                                        @item.Debe.ToString("N2")
                                                    }
                                                </td>
                                                <td class="TrHaber text-right">
                                                    @if (item.Haber > 0)
                                                    {
                                                        @item.Haber.ToString("N2")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td>Totales</td>
                                            <td></td>
                                            <td class="text-right">@ViewBag.TransfManutencionTotalDebe.ToString("N2")</td>
                                            <td class="text-right">@ViewBag.TransfManutencionTotalHaber.ToString("N2")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>