@model List<Cerberus.Sos.Accounting.BusinessLogic.Entities.Reportes.ReporteBalanceComprobacion>
@{
    ViewBag.Title = "BalanceComprobacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Balance de Comprobación</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        Elegir Fechas
    </div>
    <div id="panel-busqueda" class="panel-body">
        @using (Html.BeginForm("BalanceComprobacion", "Reportes", FormMethod.Get))
        {
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("FacilityId", "Facility")
                        @Html.DropDownList("FacilityId", null, "-- Todos --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FechaDesde">De:</label>
                        <div class='input-group date' id='datetimepicker-de'>
                            @Html.TextBox("FechaDesde", null, new {@class = "form-control"})
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FechaHasta">A:</label>
                        <div class='input-group date' id='datetimepicker-a'>
                            @Html.TextBox("FechaHasta", null, new {@class = "form-control"})
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        }
    </div>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    @*<th>Saldo Debe</th>
                    <th>Saldo Haber</th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Numero</td>
                        <td>@item.Nombre</td>
                        <td>@item.DEBITO.Value.ToString("N2")</td>
                        <td>@item.CREDITO.Value.ToString("N2")</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

}

